body {

    background-color: #212121;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    font-family: 'PT Mono', monospace;
  }
  
  .image{
    background-image:url('images/prewar.jpeg');
  background-position: center center ;
  background-size: cover;
  }